
.header {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--fluid-6) var(--fluid-8);
    gap:var(--fluid-18);

    .copyId {
        flex: 1;
    }

    .operations {
        display: flex;
        align-items: center;
        gap: var(--fluid-4);

        svg {
            color: var(--color-text-secondary);
        }
    }

    .metadata {
        flex: 1;
        overflow: hidden;

        .name {
            font-size: var(--font-size-h5);
            font-weight:500;
            color: var(--color-text);
        }

        .row {
            display: flex;
            align-items: center;
            white-space: nowrap;
            gap: var(--fluid-8);

            .text {
                font: var(--font-size-small);
                font-weight: var(--font-weight-bold);
            }

            .verticalBar {
                height: 12px;
            }
        }
    }
}

.icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}