
.container {

    border-bottom: 1px solid var(--color-neutral-95);
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .wrapper {
        margin-top: var(--fluid-24);
        width: 1536px;
    }

    .tabs {
        margin-top: var(--fluid-6);
    }
}

.content {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    flex: 1
}

.contentWrapper {
    margin-top: var(--fluid-24);
    width: 1536px;
}