
.responsiveWrapper {
    width: 100%;
    container-type: inline-size;

    .container {
        width: 100%;
        padding: var(--fluid-4) var(--fluid-8);
    }

    .introduction {
        display: flex;
        flex-direction: column;
        gap: var(--fluid-2);
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: var(--fluid-6);
        margin-top: var(--fluid-12);
    }

}