
.responsiveWrapper {
    width: 100%;
    container-type: inline-size;

    .container {
        width: 100%;
        padding: var(--fluid-16);
        border-radius: var(--fluid-6);
        border: 1px solid var(--color-neutral-90);
    }

    .introduction {
        display: flex;
        flex-direction: column;
        gap: var(--fluid-2);
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: var(--fluid-6);
        margin-top: var(--fluid-12);
    }

}