
.title {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    gap: var(--fluid-2);
    word-break: break-word;
}

.description {
    font: var(--font-body-2);
    color: var(--color-text-secondary);
    white-space: pre-line;
}