
.container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out 0.1s;

    border-top: 1px solid var(--color-neutral-95);

    .actionBar {
        height: 60px;
        width: 1536px;
        margin: 0 auto;
        display: flex;
        padding: var(--fluid-12) var(--fluid-12);
        justify-content: flex-end;
        background-color: var(--color-layer-float);
        transform: translateY(100%);
        transition: transform 0.3s ease-out;

        > button + button {
            margin-left: var(--fluid-4);
        }
    }

    &.active {
        height: 60px;
        overflow: visible;

        .actionBar {
            transform: translateY(0);
            transition: transform 0.3s ease-in;
        }
    }
}